<ion-view view-title="<img src='img/ic_small_logo.png' class='title-image'> HAUNT" hide-back-button="true">
	<ion-nav-bar class="bar-stable" align-title="left">      
  </ion-nav-bar>
      
  <ion-content class="padding" scroll="false">

		<div class="padding">
			<h1>UPGRADE NOTICE</h1>
			<p>Your current version is too old!  You must upgrade to continue using HAUNT.</p>
      <p>Click the button to download the latest installer, then run the installer to upgrade.</p>
      <p>If installation fails, try uninstalling the old version first.</p>

			<p class="text-center padding-top">
				<button class="button" ng-click="doUpgrade()">Upgrade Now</button>
			</p>
      
    </div>

	</ion-content>
</ion-view>