// Home table
.t-header {
	text-transform: uppercase;
	font-size: 12px;
	.col {
		border-bottom: 1px solid #99cc00;
	}	
}

.t-row {
	.col {
		border-bottom: 1px solid #d3d3d3;
	}	
}

.fixed-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;

	.button {
		display: block;
		width: 100%;
	}
}

h1, .h1 {
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 1px solid #99cc00;
	font-weight: 700;
}

.black-bg {	
	background-color: #000;
	color: white;
	padding: 5px 10px;
	padding-top: 15px;
}

.text-status {
	text-align: center;
	margin: 20px 0;	
}

.bar .header-buttons {
	.header-menu {
		padding-top: 5px;
		> li {
			list-style: none;
			float: left;
			border-right: 1px solid #e3e3e3;
			padding-left: 5px;
			padding-right: 5px; 

			.button.button-clear {
				line-height: 24px;
				font-size: 12px;
				font-weight: 600;
				min-height: 25px;
			}

			.button.button-icon, .button.button-icon.icon:before {
				font-size: 26px;
				min-height: 25px;
				line-height: 26px;
			}

			&:last-child {
				padding-right: 0;
				border-right: 0 none;
			}

			span {
				margin-left: 0;
			}
		}
	}

	.dropdown-menu {
		right: 0;
		left: auto;
		padding: 0;

		> li {
			border-bottom: 1px solid $gray-lighter;

			&:last-child {
				border-bottom: 0 none;
			}

			a {
				line-height: 34px;
				text-decoration: none;
			}			
		}
	}
}

.home-list {
	.item {
		padding: 0;
		border: 0 none;

		.text-first {
			color: #000;
		}

		p {
			color: $gray-light;
		}

	}
}

// History page
.history {
	h1 {		
		font-size: 14px;
		margin: 0 5px;
	}

	h2 {
		font-size: 14px;
		font-weight: 600;		
		margin: 0 5px;
	}

	.offence-icon {
		max-width: 40px;
		max-height: 40px;

		img {
			width: 100%;
			margin-right: 10px;
		}
	}

	.offence-type {
		margin-left: 50px;
	}
}

.pull-left {
	float: left;
}

.item-select select[disabled] {
	color: $gray-light;
}